@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@font-face {
    font-family: 'Bree Serif';
    src: url('BreeSerif-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'DynaPuff', serif;
    src:url('DynaPuff-VariableFont_wdth\,wght.ttf') format('ttf');
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden; 
    width: 100%; 
}

:root {
    --cor0:#FFC0CB;
    --cor1:#D3D3D3;
    --cor2:#0018F9;
    --cor3:#E6B8C2;
    --cor4:#98FB98;
    --cor5:#F8F8FF;
    --cor6:#D8A7B1;
    --cor7:#F5F5DC;
    --cor8:#C4A484;
    --cor9:#FF69B4;
    --cor10:#696969;
    --cor11:#00FFFF;
    --cor12:#FFD1DC;
    --cor13:#ADD8E6;
    --cor14:#FDF5E6;
    --cor15:#FFF0F5;
    --cor16:#E6E6FA;
    --cor17:#FFF0F5;

    --fonte-padrao: 'Bree Serif','cursive';
    --fonte-destaque:'DynaPuff', 'cursive';
}

body {
    background-color: var(--cor15);

}

header {
    background-color: var(--cor10) ;
    min-height: 20px; 
    max-height: 100%; 
    padding-top: 10px; 
    width: 100%; 
    min-width: 100%;
    max-width: 200%;
    box-sizing: border-box; 
    text-align: right;
}

header > h1 {
    color: white;
    font-size: 2em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

#home {
    font-size: 1.2em;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    text-decoration: none;
    color: var(--cor12);
    background-color: var(--cor10);
}

main {
    font-family: var(--fonte-padrao);
    min-width: 300px;
    max-width: 1000%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

main h1 {
    color: var(--cor10);
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 2em;
}


#subtitulo {
    color: var(--cor9);
    font-size: 2.2em;
}

nav {
    font-family: var(--fonte-destaque);
    background-color: var(--cor15);
    padding: 15px;
}

nav > a {
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9;
    transition-duration: .5s;
}


nav > a:hover {
    font-family: var(--fonte-destaque);
    background-color: var(--cor12);
    color: var(--cor10);
    border-radius: 25px;
}